/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/10/2020, 00:57:13
    Author     : Nailson Nascimento <nailsonbr@gmail.com>
*/

#tabelaRolagem {
  display: block;
  height: 250px;
  overflow-y: auto;
}

