<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Relatorio</servlet-name>
        <servlet-class>br.senac.sp.servlet.ListarVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletBD</servlet-name>
        <servlet-class>br.senac.sp.servlet.servletBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsereClienteServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.InsereClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarClientesServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.ListarClientesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarClienteServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.ListarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClienteServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.DeleteClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizaClienteServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.AtualizaClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizaListaClienteServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.AtualizaListaClienteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Relatorio</servlet-name>
        <url-pattern>/Relatorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletBD</servlet-name>
        <url-pattern>/servletBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsereClienteServlet</servlet-name>
        <url-pattern>/InsereClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarClientesServlet</servlet-name>
        <url-pattern>/ListarClientesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarClienteServlet</servlet-name>
        <url-pattern>/ListarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClienteServlet</servlet-name>
        <url-pattern>/DeleteClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizaClienteServlet</servlet-name>
        <url-pattern>/AtualizaClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizaListaClienteServlet</servlet-name>
        <url-pattern>/AtualizaListaClienteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
