<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AutorizacaoFilter</filter-name>
        <filter-class>br.senac.sp.filter.AutorizacaoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AutorizacaoFilter</filter-name>
        <url-pattern>/protegido/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Produto</servlet-name>
        <servlet-class>br.senac.sp.servlet.ProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Relatorio</servlet-name>
        <servlet-class>br.senac.sp.servlet.ListarVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarVenda</servlet-name>
        <servlet-class>br.senac.sp.servlet.ListarVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioVenda</servlet-name>
        <servlet-class>br.senac.sp.servlet.RelatorioVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletBD</servlet-name>
        <servlet-class>br.senac.sp.servlet.servletBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarProduto</servlet-name>
        <servlet-class>br.senac.sp.servlet.AtualizarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduto</servlet-name>
        <servlet-class>br.senac.sp.servlet.DeleteProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaProdutoVenda</servlet-name>
        <servlet-class>br.senac.sp.servlet.ListaProdutoVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaProduto</servlet-name>
        <servlet-class>br.senac.sp.servlet.BuscaProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarrinhoProduto</servlet-name>
        <servlet-class>br.senac.sp.servlet.CarrinhoProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaProdutoVenda</servlet-name>
        <servlet-class>br.senac.sp.servlet.BuscaProdutoVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteBusca</servlet-name>
        <servlet-class>br.senac.sp.servlet.ClienteBusca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteAtualiza</servlet-name>
        <servlet-class>br.senac.sp.servlet.ClienteAtualiza</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteDeleta</servlet-name>
        <servlet-class>br.senac.sp.servlet.ClienteDeleta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaPlanoBusca</servlet-name>
        <servlet-class>br.senac.sp.servlet.VendaPlanoBusca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.FuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioAtualiza</servlet-name>
        <servlet-class>br.senac.sp.servlet.FuncionarioAtualiza</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioBusca</servlet-name>
        <servlet-class>br.senac.sp.servlet.FuncionarioBusca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioDeleta</servlet-name>
        <servlet-class>br.senac.sp.servlet.FuncionarioDeleta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaAssinantes</servlet-name>
        <servlet-class>br.senac.sp.servlet.VendaAssinantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilialServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.FilialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilialBuscar</servlet-name>
        <servlet-class>br.senac.sp.servlet.FilialBuscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilialAtualiza</servlet-name>
        <servlet-class>br.senac.sp.servlet.FilialAtualiza</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilialDeleta</servlet-name>
        <servlet-class>br.senac.sp.servlet.FilialDeleta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanoServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.PlanoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanoDeleta</servlet-name>
        <servlet-class>br.senac.sp.servlet.PlanoDeleta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanoBusca</servlet-name>
        <servlet-class>br.senac.sp.servlet.PlanoBusca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanoAtualiza</servlet-name>
        <servlet-class>br.senac.sp.servlet.PlanoAtualiza</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarrinhoServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.CarrinhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.VendaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Produto</servlet-name>
        <url-pattern>/Produto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Relatorio</servlet-name>
        <url-pattern>/Relatorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioVenda</servlet-name>
        <url-pattern>/RelatorioVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletBD</servlet-name>
        <url-pattern>/servletBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarProduto</servlet-name>
        <url-pattern>/AtualizarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarVenda</servlet-name>
        <url-pattern>/ListarVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduto</servlet-name>
        <url-pattern>/DeleteProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaProduto</servlet-name>
        <url-pattern>/BuscaProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoProduto</servlet-name>
        <url-pattern>/CarrinhoProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaProdutoVenda</servlet-name>
        <url-pattern>/BuscaProdutoVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteBusca</servlet-name>
        <url-pattern>/ClienteBusca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteAtualiza</servlet-name>
        <url-pattern>/ClienteAtualiza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteDeleta</servlet-name>
        <url-pattern>/ClienteDeleta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaPlanoBusca</servlet-name>
        <url-pattern>/VendaPlanoBusca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioServlet</servlet-name>
        <url-pattern>/FuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioAtualiza</servlet-name>
        <url-pattern>/FuncionarioAtualiza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioBusca</servlet-name>
        <url-pattern>/FuncionarioBusca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioDeleta</servlet-name>
        <url-pattern>/FuncionarioDeleta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaAssinantes</servlet-name>
        <url-pattern>/VendaAssinantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilialServlet</servlet-name>
        <url-pattern>/FilialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilialBuscar</servlet-name>
        <url-pattern>/FilialBuscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilialAtualiza</servlet-name>
        <url-pattern>/FilialAtualiza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilialDeleta</servlet-name>
        <url-pattern>/FilialDeleta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanoServlet</servlet-name>
        <url-pattern>/PlanoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanoDeleta</servlet-name>
        <url-pattern>/PlanoDeleta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanoBusca</servlet-name>
        <url-pattern>/PlanoBusca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanoAtualiza</servlet-name>
        <url-pattern>/PlanoAtualiza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoServlet</servlet-name>
        <url-pattern>/CarrinhoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaServlet</servlet-name>
        <url-pattern>/Venda</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>protegido/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
