<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Produto</servlet-name>
        <servlet-class>br.senac.sp.servlet.ProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Relatorio</servlet-name>
        <servlet-class>br.senac.sp.servlet.ListarVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarVenda</servlet-name>
        <servlet-class>br.senac.sp.servlet.ListarVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletBD</servlet-name>
        <servlet-class>br.senac.sp.servlet.servletBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsereClienteServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.InsereClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarClientesServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.ListarClientesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarClienteServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.ListarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClienteServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.DeleteClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizaClienteServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.AtualizaClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizaListaClienteServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.AtualizaListaClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarProduto</servlet-name>
        <servlet-class>br.senac.sp.servlet.AtualizarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaPlanoPesquisarClienteServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.VendaPlanoPesquisarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaPlanoClienteServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.VendaPlanoClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduto</servlet-name>
        <servlet-class>br.senac.sp.servlet.DeleteProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaPlanoErroCpf</servlet-name>
        <servlet-class>br.senac.sp.servlet.VendaPlanoErroCpf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaProdutoVenda</servlet-name>
        <servlet-class>br.senac.sp.servlet.ListaProdutoVenda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Produto</servlet-name>
        <url-pattern>/Produto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Relatorio</servlet-name>
        <url-pattern>/Relatorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletBD</servlet-name>
        <url-pattern>/servletBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsereClienteServlet</servlet-name>
        <url-pattern>/InsereClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarClientesServlet</servlet-name>
        <url-pattern>/ListarClientesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarClienteServlet</servlet-name>
        <url-pattern>/ListarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClienteServlet</servlet-name>
        <url-pattern>/DeleteClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizaClienteServlet</servlet-name>
        <url-pattern>/AtualizaClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizaListaClienteServlet</servlet-name>
        <url-pattern>/AtualizaListaClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarProduto</servlet-name>
        <url-pattern>/AtualizarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaPlanoPesquisarClienteServlet</servlet-name>
        <url-pattern>/VendaPlanoPesquisarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarVenda</servlet-name>
        <url-pattern>/ListarVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaPlanoClienteServlet</servlet-name>
        <url-pattern>/VendaPlanoClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduto</servlet-name>
        <url-pattern>/DeleteProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaPlanoErroCpf</servlet-name>
        <url-pattern>/VendaPlanoErroCpf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaProdutoVenda</servlet-name>
        <url-pattern>/ListaProdutoVenda</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
